* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  /* body settings */
body {
    color: #374d50;
    font-family: Helvetica, Arial, sans-serif;
}

/*header settings */
header {
    display: flex;
    padding: 20px 35px;
    background-color: #374d50;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: large;   
}
header h1 {
    color: #fff;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}
header nav {
    margin: 7px 0;
  }
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: #fff;
  }
Header a {
      text-decoration: none;
  }

.Hero {
    background-image: url('../images/photo-1616998193501-308daa7d6150.jfif');
    background-size:cover;
    display: flex;
}


.About-me p {
    font-size: 15px;
    position: center;
}

.Tong-Hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin : 0px auto;
}

.Tong-quote {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin : 0px auto;
    color: #fff;
}